//- <p>
//-             <a class="button" href="all_books.html">Cancel</a>
//-         </p>
//-         <p><input type="submit" value="Delete Book"></p>

p
    a(class="button", href="/books") Cancel
p
    input(type="submit", value="Delete Book")